nav {
  background-color: #cc0028;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: white;
}
ul,
ol {
  list-style: none;
  display: flex;
}
ul a {
  margin: 1rem;
}
a:hover {
  text-decoration: underline;
}
