.searchBar {
  display: flex;
  margin: 1rem;
  justify-content: center;
  width: 100%;
}
.btnSearch {
  color: #fff;
  padding: 8px;
}
.searchBar input {
  background-color: #191919;
  color: white;
  border: 2px solid #cc002a;
  border-radius: 12px;
  font-size: 20px;
  padding: 1rem;
  outline-style: groove;
  outline-color: #cc002a;
}
